<!DOCTYPE HTML>

<html>
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.site.title %></title>

    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
    <!--[if IE 9]><html lang="en" class="ie9"><![endif]-->	
    <link href="stylesheets/bootstrap.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>	
    <link href="stylesheets/animations.css" rel="stylesheet"/>
    <link href="stylesheets/custom-animations.css" rel="stylesheet"/>	
    <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css">	
    <!--[if IE 8]>
    <link href="stylesheets/ie8.css" rel="stylesheet"/>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  </head>

  <body data-spy="scroll"  data-target=".navbar">	

    <!-- PRELOADER -->
    <!-- <div id="preloader"> -->
    <!--   <div id="status">&nbsp;</div> -->
    <!-- </div> -->

    <%= yield %>

    <script src="javascripts/jquery-1.10.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/modernizr.custom.43083.js"></script>
    <!--enable responsive features in IE8-->
    <!--[if IE 8]>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="javascripts/custom.js"></script>
    <script src="javascripts/retina.js"></script>
    <script src="javascripts/jquery.nicescroll.min.js"></script>
    <script src="javascripts/jquery.easing.1.3.js"></script>	
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/waypoints-sticky.js"></script>	
    <script type="text/javascript" src="javascripts/jquery.carouFredSel-6.2.1.js"></script>		
    <script src="javascripts/jquery.isotope.min.js"></script>		
    <script src="javascripts/jquery.magnific-popup.min.js"></script>
    <!-- Preloader -->
    <script type="text/javascript">
      //<![CDATA[
	<!-- $(window).load(function() { // makes sure the whole site is loaded -->
	<!-- $("#status").fadeOut(); // will first fade out the loading animation -->
	<!-- $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website. -->
	<!-- }) -->
      //]]>
    </script> 	

  </body>

</html>
