      <div class="copyright green-bg">
	<div class="contact_bottom bot_angle_right"></div>
	<div class="container blue">				
	  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bottom-logo">
	    <a class="navbar-brand smooth" href="#home">
	      <img src="images/logo.png" alt="logo"/> 
	    </a>
	  </div>						
	  <div class="text-center col-xs-12 col-sm-12 col-md-8 col-lg-8 rights">@2013 Style Interior - All Rights Reserved - Web Design & Development by <a href="#">Style Interior</a></div>									
	</div>
      </div>
