
<nav class="navbar main-menu gray-bg" role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <i class="icon-angle-down"></i>
    </button>						
  </div>								               
  
  <div class="collapse navbar-collapse navbar-ex1-collapse uppercase">
  
    <ul class="nav navbar-nav text-center">
      <li><a href="#home" class="colored-text"><i class="icon-circle"></i><span>Home</span></a></li>
      <li><a href="#aboutus"><i class="icon-circle"></i><span>About</span></a></li>
      <li><a href="#services" class="colored-text"><i class="icon-circle"></i><span>Services</span></a></li>
      <li><a href="#projects" class="colored-text"><i class="icon-circle"></i><span>Products</span></a></li>
      <li><a href="#contact" class="colored-text"><i class="icon-circle"></i><span>Contact</span></a></li>
    </ul>

  </div>
  
</nav>
