      <div id="projects" class="main-section not-home">
	<div class="pad-bot">
	  <div class="container">								
	    <div class="title page-title text-center">
	      <h1 class="dark-text">Products</h1>
	      <span class="underline green"></span>
	    </div>				
	  </div>	
	  <div class="green animated-fade">
	    <div class="portfolioFilter text-center uppercase">
	      <span>Filter:</span>
	      <a href="#" data-filter="*" class="current">All</a>
	      <a href="#" data-filter=".kitchen">Kitchen & Bath</a>
	      <a href="#" data-filter=".livingrooms">Living Rooms</a>
	      <a href="#" data-filter=".beedrooms">Bedrooms</a>
	      <a href="#" data-filter=".offices">Offices</a>
	      <a href="#" data-filter=".outdoors">Outdoors</a>
	    </div>
	    <div id="container" class="portfolioContainer text-center">  
	      <div class="kitchen">        
		<div class="isotope-img">
		  <img src="images/kitchen_bath1.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/kitchen_bath1.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Kitchen & Bath</p>
		  <h6 class="tile-bg-title colored-text">"Dolphin"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et.</p>									
		</div>
	      </div>
	      <div class="offices">                
		<div class="isotope-img">
		  <img src="images/offices1.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/offices1.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Offices</p>
		  <h6 class="tile-bg-title colored-text">"Angelo"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="livingrooms">    
		<div class="isotope-img">
		  <img src="images/livingroom2.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/livingroom2.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Living Rooms</p>
		  <h6 class="tile-bg-title colored-text">"Marina"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="kitchen">                
		<div class="isotope-img">
		  <img src="images/kitchen_bath2.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/kitchen_bath2.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Kitchen & Bath</p>
		  <h6 class="tile-bg-title colored-text">"Shark"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="beedrooms">        
		<div class="isotope-img">
		  <img src="images/bedroom1.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/bedroom1.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Bedrooms</p>
		  <h6 class="tile-bg-title colored-text">"Moon"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="outdoors">                
		<div class="isotope-img">
		  <img src="images/outdoors1.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/outdoors1.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Outdoors</p>
		  <h6 class="tile-bg-title colored-text">"Forest"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="livingrooms">                
		<div class="isotope-img">
		  <img src="images/livingroom1.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/livingroom1.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Living Rooms</p>
		  <h6 class="tile-bg-title colored-text">"Jenny"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	      <div class="beedrooms">                
		<div class="isotope-img">
		  <img src="images/bedroom2.jpg" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/><div class="isotope-overlay"><a class="image-link" href="images/bedroom2.jpg"><i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i></a></div>
		</div>
		<div class="isotope-description">
		  <p class="product-type uppercase">Bedrooms</p>
		  <h6 class="tile-bg-title colored-text">"Dreamy"</h6>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et. </p>									
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="portfolio_bottom bot_angle_left blue-bg"></div>
      </div>		
