
<div id="services" class="main-section not-home ">	

  <div class="services gray-light-bg">			

    <div class="container">					
      <div class="title page-title text-center">
	<h1 class="dark-text">Services</h1>
	<span class="underline green"></span>
      </div>
    </div>	
    
    <%= partial "partials/service_list" %>

    <%= partial "partials/project_list" %>
						
    <%= partial "partials/process" %>

  </div>

</div>
